/* CSS Reset */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

:root {
  --color-accent: #1E293B;
  --color-primary: #4ECB71;
  --color-black: #090909;
  --color-white: #ffffff;
  --footerbg: #ECE8E8;
  --headerbg:#f4f4f4;
  --color-secondary: #F4F4F4;
  --footer-text-color: #3B3A3A;
  --text-color: var(--color-black);
  --placeholder-color: #A0AEC0;
  --color-primary-hover: #28d158;
  --section-header-fontsize: 4rem;
  --input-color: #1E293B;
  --box-shadow-color: #d1d4db;
  scroll-behavior: smooth; 

}

.light-theme {
  --bg-color: var(--color-white);
  --text-color: var(--color-accent);
  
 
}

.dark-theme {
  --bg-color: var(--color-accent);
  --text-color: var(--color-white);
  --footerbg: #4E525E;
  --headerbg: #1e2737;
  --footer-text-color: #FDFDFD;
  --input-color: #cfcccc;
  --box-shadow-color: var(--footerbg)
}


body {
    background-color: var(--color-secondary);
    color: var(--text-color);
    height: 100%;

}

.invalid-input {
    border: 1px solid #ff7b7b; /* Change border color to indicate error */
  }
  
  .error-message {
    color: #ff7b7b;
    font-size: .69rem;
    margin-top: .4rem;
    max-width: max-content;
  }
  


main {
  padding: 3rem 3rem;
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

main a:hover {
    text-decoration: var(--color-primary-hover);
    text-decoration: underline;
}


::selection {
  background-color: var(--color-primary);

}

.error-message {
  color: #ff7b7b;
  font-size: .69rem;
  margin-top: .4rem;
  max-width: max-content;
  /* display: block;   */
  /* text-wrap: wrap; */
}

.invalid-input {
  border: 1px solid #ba845adb;
  
} 


/* Login Form */
#login-form {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 4rem;

}

fieldset {
    border: none;
  }
  

#LoginForm{
    padding: 2rem;
    border-radius: 4px;
    background-color: var(--color-white);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   
}

#login-headers {
 text-align: center;
 margin-bottom: 1rem;
}


.login-form-title {
 margin-bottom: -.8rem;
}


.login-inputs {
  display: flex;
  flex-direction: column;
}

.login-label {
    margin-top: 1.2rem;
    font-size: .95rem;
  }

#check {
  margin-top:  .7rem;
  display: flex;
  justify-content: space-between;
  gap: 8rem;
}

.login-check{
  display: flex;
  align-items: center;
  gap: 2px;
}

#check label{
   font-size: .7rem;
  
}

.login-btn {
    margin: 1.5rem 0;
    padding: 9px;
    color: var(--color-white);
    background-color: var(--color-primary);
    border: 0px solid var(--color-accent);
    border-radius: 4px;
    font-weight: 700;

}

.login-btn:hover {
  background-color: var(--color-primary-hover);
}


.login-account{
  font-size: smaller;
  text-align: center;
  margin: 1.5rem  0 0 0;
}


#LoginSent ,#SignupSent, #PasswordResetSent {
    color: var(--color-primary);
    font-size: small;
    text-align: center;
  
  
  }

.login-inputs input[type=password], input[type=text],input[type=password] ,input[type=email]{
 padding: .6rem;
 border: 1px solid var(--input-color);
 border-radius: 4px;
 margin-top: .4rem; 
 
}


#checks {
display: flex;
justify-content: space-between;
gap: 7rem;
align-items: center;
font-size: .7rem;
margin-top: .4rem;

}



input[type=checkbox]:checked{
  accent-color: var(--color-primary);
  color: var(--color-white);
  
  border-color: #20ec5a;
  background-color: red;
}

input:checked {
background-color: red; 

}

.login-check, #psw-visibility{
  display: flex;
  align-items: center;
  gap: 2px;
 
}



.login-btn:hover {
background-color: var(--color-primary-hover);
}


.create-account{
font-size: .8rem;
margin-top: 2rem;

}

.forgot-linkk {
display: flex; 
flex-direction: row;
gap: 2rem;
align-content: baseline;

justify-content: space-between;  
}

.forgot-link {
font-size: .7rem;  
color: var(--color-primary);
cursor: pointer;
margin-top: 1.4rem; 

}






  